@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alice&family=Almarai&family=Dosis&family=Inter:wght@100;200;300;400;500;600&display=swap');
:root
{
    --preto-0:#03071e;
    --vermelho-50:#370617;
    --vermelho-40:#6a040f;
    --vermelho-30:#9d0208;
    --vermelho-20:#d00000;
    --vermelho-10:#e85d04;
    --laranja-20:#f48c06;
    --laranja-10:#faa307;
    --amarelo-0:#ffba08;
    --branco-40:#f5f5f5;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: Inter;
}
body
{
    min-width: 350px;
}

/*--------------------------GRID-AREA-------------------*/

.container
{
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
    "perfil header header"
    "sidebar main main"
    "footer footer footer"
    ;
}

header
{
    background-color: #00111c;
    grid-area: header;
    height: 100%;
}

main
{
    background:linear-gradient(to right,#00406c,#4267b3);
    grid-area: main;
    height: 100%;
}
::-webkit-scrollbar
{
    width: 12px;
    background-color: #222020;
    border-radius: 20px color(white);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border-radius: 50px;
    border: #fefefe 2px;
}


footer
{
    color: var(--branco-40);
    grid-area: footer;
}
/*--------------------------GRID-AREA-------------------*/

/*-----------------------------HEADER-------------------*/

.nav_bar
{
    display: flex;
    margin: 5%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}

.logo_header img
{
    cursor: pointer;
}

.logo_header img:hover
{
    filter: brightness(1.5);
    transition: 1.5s;
}
.nav_list ul
{
    display: flex;
    
}

.nav_item
{
    list-style: none;
    margin-left: 3rem;
}

.nav_link
{
    text-decoration: none;
    color: var(--branco-40);
    padding: 5px 20px;
    border: 2px solid transparent;
    border-radius: 30px;
}

.nav_link:hover
{
    transition: all 0.5s ease-in-out;
    color: #00406c;
    border: 2px solid #00406c;
    border-radius: 30px;
}
.login_button button a:hover
{
    color: #00406c;
}
.login_button button a
{
    text-decoration: none;
    color: var(--branco-40);
    transition: all 0.5s ease-in-out;
}
.login_button button
{
    all: unset;
    border: 2px solid transparent;
    padding: 5px 20px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.login_button button:hover
{
    border: 2px solid #00406c;
    color: #00406c;
    padding: 5px 20px;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
    text-align: center;
}

.mobile_menu_icon
{
    display: none;
}
.mobile_menu
{
    display: none;
}

/*-----------------------------HEADER-------------------*/

/*-----------------------------PERFIL-------------------*/
.perfil
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1.5rem;
    grid-area: perfil;
    background-color: #020e15;
}

.perfil p
{
    color: var(--branco-40);
}
.perfil a
{
    text-decoration: none;
    color: #00406c;
    cursor: pointer;
}

#perfil_icon
{
    font-size: 50px;
    border: 2px solid transparent;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco-40);
}

#perfil_icon:hover
{
    transition: all 0.5s ease-in-out;
    border: 2px solid var(--branco-40);
    color: var(--branco-40);
    background-color:#00406c;
}
/*-----------------------------PERFIL-------------------*/

/*-------------------------------SIDEBAR-------------------*/
.sidebar
{
    background-color: #020e15;
    grid-area: sidebar;
    
}
.sidebar_conteudo
{
    padding: 30px 0px 30px 30px;
    font-size: 20px;
}

.navegacao
{
    list-style: none;
    letter-spacing: 2px;
    padding: 20px 0px 20px 25px;
    margin: 3rem 0rem;
    color: var(--branco-40);
    border-radius: 50px 0px 0px 50px;
}
.navegacao:hover
{
    background:linear-gradient(to left,#00406c,#4267b3);
    border-radius: 50px 0px 0px 50px;
    transition: all 0.5s ease-out;
}
.navegacao a
{
    text-decoration: none;
    color: var(--branco-40);
}
#navegacao_icon
{
    padding-right: 10px;
    color:var(--branco-40);
}

/*-------------------------------SIDEBAR-------------------*/

/*---------------------------FOOTER---------------------*/

#footer_conteudo
{
    background-color: #00111c;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contatos img
{
    margin-bottom: 2rem;
}

#footer_contatos img:hover
{
    filter: brightness(1.5);
    transition: 1.5s;
}

#footer_social
{
    display: flex;
    gap: 1.2rem;
    margin-top: 1.5rem;
}

#footer_social .footer_icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--branco-40);
    border-radius: 50%;
    text-decoration: none;
}

#footer_social .footer_icon:hover
{
    opacity: 0.7;
    transition: 0.5s ease-in-out;
    color: var(--preto-0);
}

#footer_social .footer_icon i
{
    font-size: 1.25rem;
}

#instagram
{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook
{
    background-color: #4267b3;
}

#whatsapp
{
    background-color: #25d366;
}

#linkedin
{
    background-color: #0e76a8;
}

.footer_lista
{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    text-decoration: none;
}

.footer_lista .footer_link
{
    color: var(--branco-40) ;
    text-decoration: none;
}

.footer_lista .footer_link:hover
{
    transition: all 0.5s ease-in-out;
    color: #00406c;
}

#increvase
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#increvase p
{
    color: var(--branco-40);
}

#caixa_email
{
    display: flex;
    align-items: center;
    background-color: #001a2c;
    border-radius: 4px;
}

#caixa_email input
{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#caixa_email button
{
    background-color: #00406c;
    border: none;
    color: var(--branco-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

#caixa_email button:hover
{
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

#footer_copyright
{
    display: flex;
    justify-content: center;
    background-color: var(--preto-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
    color: var(--branco-40);
}
@media screen and(min-width: 350px) {
    
}

@media screen and (max-width: 768px) {


    .nav_bar
    {
    padding: 1.5rem 4rem;
    flex-direction: column;
    }
    .icon
    {
        width: 100%;
        width: 20px;
    }
    .nav_item
    {
        display: none;
        margin: 0;
    }

    .login_button
    {
        display: none;
    }

    .mobile_menu_icon
    {
        display: block;
        margin-top: 20px;
    }
    .mobile_menu_icon button
    {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: var(--branco-40);
    }

    .mobile_menu ul
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile_menu .nav_item
    {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile_menu .login_button
    {
        display: block;
        padding: 1rem 2rem;
    }
    
    .open
    {
        display: block;
    }





    #footer_conteudo {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  
    #increvase {
      margin-top: 2rem;
    }
  
    #caixa_email {
      margin-top: 1rem;
    }
  }
  
  @media screen and (max-width: 426px) {
    #footer_conteudo {
        display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
    }
    .container
    {
        display: grid;
        grid-template-areas:
        "header header header"
        "sidebar sidebar sidebar"
        "main main main"
        "footer footer footer";
    }
    .navegacao
    {
    list-style: none;
    letter-spacing: 2px;
    padding: 10px 15px;
    margin: 1rem;
    color: var(--branco-40);
    border-radius: 50px;
    }
    .navegacao:hover
    {
    background:linear-gradient(to left,#00406c,#4267b3);
    border-radius: 50px;
    transition: all 0.5s ease-out;
    }
    .sidebar_conteudo ul
    {
        display: flex;
        max-width: 250px;
        white-space: nowrap;
        overflow-x: auto;
    }
    main
    {
        height: 800px;
    }

    .perfil
    {
        display: none;
    }
    .footer_icon {
      height: 2rem;
      width: 2rem;
      font-size: 1rem;
    }
  
    #footer_social {
      margin-top: 1rem;
    }
  
    .footer_lista {
      margin-top: 1rem;
    }
  }

  @media screen and (max-width: 545px) {
    #footer_conteudo {
        display: grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
    }
    .container
    {
        display: grid;
        grid-template-areas:
        "header header header"
        "sidebar sidebar sidebar"
        "main main main"
        "footer footer footer";
    }
    .navegacao
    {
    list-style: none;
    letter-spacing: 2px;
    padding: 10px 15px;
    margin: 1rem;
    color: var(--branco-40);
    border-radius: 50px;
    }
    .navegacao:hover
    {
    background:linear-gradient(to left,#00406c,#4267b3);
    border-radius: 50px;
    transition: all 0.5s ease-out;
    }
    .sidebar_conteudo ul
    {
        display: flex;
        max-width: 480px;
        white-space: nowrap;
        overflow-x: auto;
    }
    main
    {
        height: 800px;
    }

    .perfil
    {
        display: none;
    }
    .footer_icon {
      height: 2rem;
      width: 2rem;
      font-size: 1rem;
    }
  
    #footer_social {
      margin-top: 1rem;
    }
  
    .footer_lista {
      margin-top: 1rem;
    }
  }
  
/*---------------------------FOOTER---------------------*/